# Usability Testing Results Assignment

## Description

Create a document to summarizes the results of usability testing, focused on communicating findings (differentiated by levels of severity) and recommendations. 

Make sure your report leads to positive changes:
* Be specific so the team and stakeholders understands the problem.
* Organize and rank findings – Ensure the most important findings get the most attention.
* Bring the data to life – Use direct quotes, videos, etc.
* Include positive findings to help morale and to make sure the good parts are preserved.
* Choose the right format for your audience: slides or texts.

## References

MAD9034 Course Notes
* [MAD9034 Course Slides](http://tiny.cc/nqf6bz)
* MAD9034 Week 13 module: Testing and incorporating feedback

## Submission

Submit your finished work through BS LMS.
- File name: _testResults-groupname.pdf_ (or other applicable format) 